# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.DS_Store
# intellij file
*.iml
dist/
*.egg.info
build/
